body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  line-height: normal;
  color: rgba(33, 33, 33, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

:root {
  --brand-color: rgba(33, 150, 243, 1);
  --normal-color: rgba(33, 33, 33, 1);
  --light-text-color: rgba(117, 117, 117, 1);
}

.icon-sobre {
  width: 16px;
  height: 12px;
  margin-right: 5px;
}

.icon-telefono {
  width: 10px;
  height: 16px;
  margin-right: 5px;
}

.icon:hover {
  fill: rgba(33, 150, 243, 1);
}

.div-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.first_ul {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}

a {
  color: currentColor;
  text-decoration: none;
}

header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  list-style: none;
  margin-right: 80px;
}

.nav-item {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--normal-color);
  margin-right: 80px;
}

.nav-item:hover {
  color: var(--brand-color);
}

.contact-nav-item {
  font-weight: 500;
  line-height: 16px;
  color: var(--light-text-color);
  margin-left: 100px;
}

.contact-nav-item:hover {
  color: var(--brand-color);
}

.button-portafolio {
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(245, 244, 250, 1);
  border-color: rgba(245, 244, 250, 1);
  cursor: pointer;
  padding: 10px;
}

.div_buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.button-portafolio:hover {
  background-color: var(--brand-color);
}

.button-portafolio {
  border-radius: 10px;
}

.order_proyects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  flex-basis: calc((100% -12px) / 3);
  cursor: pointer;
  padding: 0px;
  margin-bottom: 10px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.item:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.info-proyect {
  padding: 20px;
}
.proyect-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.proyect-type {
  font-size: 16px;
  font-weight: 400;
}

.footer {
  background-color: rgba(47, 48, 58, 1);
}

.flex {
  display: flex;
}
.footer_div {
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer-list {
  padding: 5px;
  display: grid;
  width: 231px;
}

.contact-nav-item2 {
  font-weight: 500;
  line-height: 16px;
  color: var(--light-text-color);
}

.adress-first-container {
  margin-top: 10px;
}
.address2 {
  color: rgba(255, 255, 255, 1);
}

.redes-sociales {
  width: 206px;
  margin-left: 30px;
  margin-top: 60px;
}
.div-redes-sociales2 {
  align-items: center;
}

.icon-redes {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 2px;
}

.icon-redes:hover {
  background-color: rgba(33, 150, 243, 1);
  fill: white;
}

.redes-sociales p {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  text-transform: uppercase;
}
